.logo1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.animation-wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.animation-wrapper:before{
  content: "";
  z-index: 10;
  position: absolute;
  height: 200%;
  width:200%;
  top:-120%;
  left:-120%;
  background:linear-gradient(transparent 0%,
    rgba(255, 255, 255, 0.1) 45%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.1) 55%,
    transparent 100%);
    transform:rotate(-45deg);
    animation: shine 2s infinite ease-out;
  }

@keyframes shine{
  0%{top:-120%;left:-120%;}
  10%{left:0%;top:0%;}
  30%{left:25%;top: 25%;}
  70%{left:75%;top: 75%;}
  100%{left:100%;top:100%;} 
}

.logo-1 {
  width: 100%;
  display: flex;
  justify-content: center;
}


